.expense-date{    
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    background: #000;
    font-size: 13px;
    align-items: center;
}
.expense-date__month{
    font-weight: 600;
}

.expense-date__date {
    font-size: 22px;
    font-weight: 700;
}